---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mauro cravi QR">
  <main class="h-screen w-screen bg-backgroundmain">
    <div
      class="w-80 h-auto font-outfit absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 p-4 bg-white rounded-2xl shadow-lg"
    >
      <img class="w-80 rounded-2xl" src="/public/image-qr-code.png" alt="" />

      <h1 class="text-2xl font-bold text-h1color pt-4 text-center">
        Improve your front-end <br /> skills by building projects
      </h1>
      <p class="text-base font-normal text-gray-500 pt-4 pb-6 text-center">
        Scan the QR code to visit Frontend <br /> Mentor and take your coding skills
        to <br /> the next level
      </p>
    </div>
  </main>
</Layout>
